<h1><i class="fas fa-hamburger"></i> Burgers <i class="fas fa-hamburger"></i></h1>

<div class="flexbox_card">
  <form class="create-form form">
    <h2>Add a Burger...</h2>
    <div class="form-group">
      <label for="ca"></label>
      <input type="text" id="ca" name="name">
      <button class="button" type="submit">Add</button>
    </div>
  </form>
</div>

<div class="best">
  <h2>Your burgers:</h2>
  <ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
      {{burger_name}}
      <button class="button change-toEaten" data-id="{{id}}"><i class="fas fa-utensils"></i></button>
    </li>
     {{/unless}}
    {{/each}}
</div>


<div class="eaten">
  <h2>All gone!!</h2>
<ul class="all_gone">
      {{#each burgers}}
      {{#if devoured}}
      <li>
      {{burger_name}}
      <button class="button delete-burger" data-id="{{this.id}}"><i class="fas fa-trash-alt"></i></button>
      {{/if}}
      </li>
      {{/each}}
    </ul>
</div>